<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="myself">
<div ><h1>About Me &#128100</h1></div>
    <p>My name is Daiyan Katali Ibn Shaibu.I am 15 years 
        old and i come from Savelugu in the Savannah region 
        of Ghana.<br>
        I stay at Ashaiman in the greater Accra region of Ghana 
        I am currently an IT student at the University of Constant 
        Confusion(UCC).
    </p>
    
    
    <img src="../static/me.jpg" alt="this is an image" class="image">

    <p>....NAVIGATION....</p>
<div>
<p><a href="/projects" style="color:white; ">My Projects &#128161</a></p>
<p><a href="/contact" style="color:white;">contact me &#128222</a></p>
<a href="/" style="color: white ;">Home </a>
</div>
</body>
</html>