<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="con">
    <h1 style="color: blue;"><marquee>..................Contact Me  &#128222.................Contact Me &#128222.................Contact Me  &#128222.................
        Contact Me  &#128222.................Contact Me  &#128222.................
    </marquee></h1>
    <div class="more">
 &#128073 For more Information,Contact Shaibu on:<br>
0532436788/0204275340<br>
Or send an email to:</br>
daiyankatali@gmail.com</br>


    </div>
        <div class="amp"><a href="/About" style="color: blue;">About me &#128100</a>
<p><a href="/projects" style="color: blue;">My Projects &#128161</a></p>
<a href="/" style="color: blue ;">Home </a>

</div>



</body>
</html>