<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>projects</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="pro">
    <div class="proj">
        <h2>Student Grading System</h2>
        <p>A simple python project that calculates students' averages and
            assigns grades automatically
        </p>
    </div>
    <div class="proj">
        <h2>Hostel Finder App</h2>
        <p>A mobile app that helps students at UCC easily find and book hostels
            with details like price,facilities,and distance from campus.
        </p>
    </div>
            <div class="ampi"><p><a href="/About" style="color: blue;">About me &#128100</a></p>
<p class="ampi"><a href="/contact" style="color: blue ">contact me &#128222</a></p>
<a href="/" style="color: blue ;" class="ampi">Home </a>
</body>
</html>